
@{
    ViewData["Title"] = "BeforeNeumont";
}

<body>
    <div class="main-div">
        <h1>Pre-Neumont</h1>
        <div class="nested-left-div">
            <p>
                Before my time here at Neumont I went to Reyonolds High School in Troutdale Oregon. I had a nice group of frineds I hung out with 
                (all of which are still among my closest friends thanks to gaming and the internet) at school, and two dogs to take care of at home.
                I lived in a small two bedroom apartment with my mom and my brother, along with my two dogs Sonic and Amy. I always had a dream to make
                a game where one could escape to due to things that I struggled with growing up. In essence, I want to create something I wish I had 
                access to as a child.
            </p>
        </div>
        <div class="nested-rigt-div">
            <img src="~/Images/past-me.jpg" />
        </div>

        <div class="nested-left-div">
            <h2>My Doggos</h2>
            <img src="~/Images/amy.jpg" />
            <img src="~/Images/Sonic.jpg" />
        </div>
    </div>

</body>

