@{
    ViewData["Title"] = "Future";
}

<body>
    <div class="main-div">
        <img src="~/Images/fantasy.webp" />
        
        <div class="nested-div">
            <h1>My Future</h1>
            <p>
                I want to create an beautiful and outstanding fantasy world. My Idea is to make this an escape of sorts, from anything
                that might be stressing you out. I understand that the idea itself isn't exactly new but, the way I'm approaching this
                will result in an end product unlike any game currently published (I won't go into detail beacasuse it is a long explaination)

            </p>
            <img class="img-marginless" src="~/Images/oregon.jpg" />
            <p>
                In terms of what I plan on doing directly after Neumont, it's getting a job (preferably in Oregon). I want to work on a game, preferably a game that holds similarities to the one I want to make
                So that I have practice and know what to expect moving forwards a little better. As of right now, I don't have a target company but I will deffinately
                have it figured out by the end of the school year.
            </p>
        </div>
    </div>
</body>