
@{
    ViewData["Title"] = "Intro";
}

<body>
    <div class="bright">
        <h1>About Me</h1>
        <div class="left-div">
            <p>
                Hello! My name is Carlos Barajas. I'm a second year here at Neumont, currently in the game degree. Over the
                past year here, I've gotten the chance to explore a good portion of Salt Lake City and it's fair to say I rather like it here.
                Both the people I've met to the convenience of everything being so close (although sometimes a bit expensive) have made it simple for me
                to adjust living away from home for the first time. That being said, I would still rather live back in Oregon.
            </p>
        </div>
        <div class="right-div">
            <img src="~/Images/me.png" />
        </div>

        <div class="left-div">
            <h2>Current Favorite Games</h2>
            <img src="~/Images/minecraft.jpg" />
            <img src="~/Images/warframe.jpg" />
            <img src="~/Images/genshin.jpg" />
            <img src="~/Images/fortnite.jpg" />
            <img src="~/Images/lol.jpg" />
        </div>

        <div class="right-div">
            <h2>Hobbies</h2>
            <p>
                Some things I enjoy doing (other than gaming).
            </p>
            <ul>
                <li>Roller Skating</li>
                <li>Riding a Onewheel</li>
                <li>Drawing</li>
                <li>Card Tricks</li>
                <li>Working out</li>
                <li>Piano</li>
            </ul>
            <h3></h3>
        </div>
    </div>

</body>

