@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a library of games available to be rented at any time. To get started, navigate to one of the tabs above.</p>
</div>
