@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout2";
}

@section additional {
    <h1>Additional Section Stuff</h1>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

What pizza do you like? : @ViewBag.Pizza



