@page
@model MovieLoader.Pages.TestModel
@{
}

Test Razor Pest loaded
Peter's beard shaved

<form>
    <input asp-for="movie.Title" placeholder="Movie Title" />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>