@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <form asp-controller="Home" asp-action="Result" method="get">
            <input id="one" type="text" name="one" placeholder="1.Adjective" />
            <input id="two" type="text" name="two" placeholder="2.Noun" />
            <input id="three" type="text" name="three" placeholder="3.Noun" />
            <input id="four" type="text" name="four" placeholder="4.Adjective" />
            <input id="five" type="text" name="five" placeholder="5.Noun" />
            <input id="six" type="text" name="six" placeholder="6.Noun" />
            <input id="seven" type="text" name="seven" placeholder="7.Adjective" />
            <input id="eight" type="text" name="eight" placeholder="8.Noun" />
            <input id="nine" type="text" name="nine" placeholder="9.Adverb" />
            <input id="ten" type="text" name="ten" placeholder="10.Noun" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
