@model MoviePage
@{
}

@if (Model == null || Model.MovieList.Count() == 0)
{
    <h1>No movies provided</h1>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h1>List of movies (@Model.MovieList.Count()): </h1>
            <a href="/Movie/AddMovie">Add Movie</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Release Date</th>
                        <th>Genre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.MovieList)
                    {
                        <partial name="MoviePartialView.cshtml" for="@movie"/>
                    }
                </tbody>
            </table>
            <select asp-itmes="@Model.Genres"></select>
        </div>
    </div>
}