@model IEnumerable<Movie>
@{
}

@if (Model == null)
{
    <h1>No movies provided</h1>

}
else
{
    <h1>List of Movies</h1>
    foreach (var movie in Model)
    {
        <h3>
            @*movie.ToString()*@

            <partial name="MoviePartialView.cshtml" for="@movie" />

        </h3>
    }
}